<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>"Hey, you’ve found the treasure, congratulations!</p>
    <p>You are <%= @count %> treasure hunter who has found the treasure."</p>

  </body>
</html>
